<div class="single_post_comments">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=YOUR_APP_ID&autoLogAppEvents=1"></script>
    <div class="fb-comments" data-href="{{url absolute="true"}}" data-numposts="10" data-width="100%"></div>
</div>