<div class="site_sub_header">
    <div class="container">
        <div class="site_sub_header_inner">
            <div class="row middle-xs">
                <div class="col-md-9">
                    <div class="sub_header_page_featured_image"></div>
                    <div class="sub_header_page_title"></div>
                </div>
                <div class="col-md-3 end-xs">
                    <div class="sub_header_share_btns">
                        <div class="sub_header_share_btns_inner">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_sharewindow">{{> "icons/share"}}<span>{{t "Share"}}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>