{{!< default}}

{{> site-header}}
<div class="header_banner" data-header-cover-image="{{img_url @site.cover_image}}">
    <div class="header_banner_inner">
        <div class="container">
            <h2 class="site_description">{{@site.description}}</h2>
        </div>
    </div>
</div>

<main id="site-main" class="site-main outer">
    <div class="container">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

        <div class="next_posts_btn">
          <button>{{t "Load more"}}</button>
        </div>

    </div>
</main>

{{#contentFor "scripts"}}
<script>
    $(document).ready(function () {
        var headerCoverImage = $(".header_banner").data("header-cover-image");
        if(headerCoverImage){
            $('.header_banner').css('background', 'url(' + headerCoverImage + ')');
        }
        loadPostCardFeaturedImages();
    });
</script>
{{/contentFor}}
