:root {
	--blue: #1877f2;
	--green: #a4d037;
	--purple: #ad26b4;
	--yellow: #fecd35;
	--red: #f05230;
	--darkgrey: #15171A;
	--midgrey: #738a94;
	--lightgrey: #c5d2d9;
	--whitegrey: #e5eff5;
	--pink: #fa3a57;
	--brown: #a3821a;
	--darkmode: var(--darkgrey)
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}
body {
	line-height: 1
}
ol,
ul {
	list-style: none
}
blockquote,
q {
	quotes: none
}
blockquote:after,
blockquote:before,
q:after,
q:before {
	content: "";
	content: none
}
table {
	border-spacing: 0;
	border-collapse: collapse
}
img {
	max-width: 100%
}
html {
	box-sizing: border-box;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
*,
:after,
:before {
	box-sizing: inherit
}
a {
	background-color: transparent
}
a:active,
a:hover {
	outline: 0
}
b,
strong {
	font-weight: 700
}
dfn,
em,
i {
	font-style: italic
}
h1 {
	margin: .67em 0;
	font-size: 2em
}
small {
	font-size: 80%
}
sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
mark {
	background-color: #fdffb6
}
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
	margin: 0;
	color: inherit;
	font: inherit
}
button {
	overflow: visible;
	border: none
}
button,
select {
	text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
	cursor: pointer;
	-webkit-appearance: button
}
button[disabled],
html input[disabled] {
	cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0
}
input {
	line-height: normal
}
input:focus {
	outline: 0
}
input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto
}
input[type=search] {
	box-sizing: content-box;
	-webkit-appearance: textfield
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}
legend {
	padding: 0;
	border: 0
}
textarea {
	overflow: auto
}
table {
	border-spacing: 0;
	border-collapse: collapse
}
td,
th {
	padding: 0
}
html {
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 62.5%;
	-webkit-tap-highlight-color: transparent
}
body {
	color: var(--midgrey);
	font-size: 1.6rem;
	line-height: 1.6em;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0;
	text-rendering: optimizeLegibility;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on
}
::selection {
	text-shadow: none;
	background: #1876f2;
	color: #fff
}
hr {
	position: relative;
	display: block;
	width: 100%;
	margin: 2.5em 0 3.5em;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid var(--lightgrey)
}
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle
}
fieldset {
	margin: 0;
	padding: 0;
	border: 0
}
textarea {
	resize: vertical
}
blockquote,
dl,
ol,
p,
ul {
	margin: 0 0 1.5em 0
}
ol,
ul {
	padding-left: 1.3em;
	padding-right: 1.5em
}
ol ol,
ol ul,
ul ol,
ul ul {
	margin: .5em 0 1em
}
ul {
	list-style: disc
}
ol {
	list-style: decimal
}
ol,
ul {
	max-width: 100%
}
li {
	margin: .5em 0;
	padding-left: .3em;
	line-height: 1.6em
}
dt {
	float: left;
	margin: 0 20px 0 0;
	width: 120px;
	color: var(--darkgrey);
	font-weight: 500;
	text-align: right
}
dd {
	margin: 0 0 5px 0;
	text-align: left
}
blockquote {
	margin: 1.5em 0;
	padding: 0 1.6em 0 1.6em;
	border-left: var(--whitegrey) .5em solid
}
blockquote p {
	margin: .8em 0;
	font-size: 1.2em;
	font-weight: 300
}
blockquote small {
	display: inline-block;
	margin: .8em 0 .8em 1.5em;
	font-size: .9em;
	opacity: .8
}
blockquote small:before {
	content: "\2014 \00A0"
}
blockquote cite {
	font-weight: 700
}
blockquote cite a {
	font-weight: 400
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	line-height: 1.15;
	font-weight: 600;
	text-rendering: optimizeLegibility
}
h1 {
	margin: 0 0 .5em 0;
	font-size: 5.5rem;
	font-weight: 600
}
h2 {
	margin: 1.5em 0 .5em 0;
	font-size: 2.2rem
}
h3 {
	margin: 1.5em 0 .5em 0;
	font-size: 1.8rem;
	font-weight: 500
}
h4 {
	margin: 1.5em 0 .5em 0;
	font-size: 1.6rem;
	font-weight: 500
}
h5 {
	margin: 1.5em 0 .5em 0;
	font-size: 1.4rem;
	font-weight: 500
}
h6 {
	margin: 1.5em 0 .5em 0;
	font-size: 1.4rem;
	font-weight: 500
}
.kg-embed-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%
}
.kg-embed-card .fluid-width-video-wrapper {
	margin: 0
}
.kg-gallery-container {
	display: flex;
	flex-direction: column;
	max-width: 1040px;
	width: 100vw
}
.kg-gallery-row {
	display: flex;
	flex-direction: row;
	justify-content: center
}
.kg-gallery-image img {
	display: block;
	margin: 0;
	width: 100%;
	height: 100%
}
.kg-gallery-row:not(:first-of-type) {
	margin: .75em 0 0 0
}
.kg-gallery-image:not(:first-of-type) {
	margin: 0 0 0 .75em
}
.kg-gallery-card+.kg-gallery-card,
.kg-gallery-card+.kg-image-card.kg-width-wide,
.kg-image-card.kg-width-wide+.kg-gallery-card,
.kg-image-card.kg-width-wide+.kg-image-card.kg-width-wide {
	margin: -2.25em 0 3em
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	background: #f0f2f5;
	color: #050505;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased
}
a {
	color: #1876f2;
	text-decoration: none;
	transition: all .3s
}
img {
	max-width: 100%;
	height: auto
}
.card {
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	background: #fff;
	border-radius: 5px
}
#site_header {
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 1000
}
.header_logo a {
	font-size: 28px;
	text-decoration: none;
	font-weight: 700;
	color: #050505
}
.header_logo a img {
	height: 20px;
	width: auto
}
.header_navigation ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.header_navigation ul li {
	display: inline-block;
	margin: 0 20px
}
.header_navigation ul li a {
	display: block;
	font-size: 18px;
	font-weight: 600;
	color: #65676b;
	padding: 20px 10px;
	border-bottom: 2px solid transparent
}
.header_navigation ul li a:hover,
.header_navigation ul li.nav-current a {
	color: #1877f2;
	border-color: #1877f2
}
.header_links_social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	background: #e4e6eb;
	border-radius: 50px;
	margin-left: 5px
}
.header_links_social a svg {
	height: 20px;
	fill: #606163;
	margin-top: 10px;
	transition: all .3s
}
.header_links_social a.rss-button svg {
	height: 25px;
	margin-top: 4px
}
.header_links_social a:hover {
	background: #e7f3ff
}
.header_links_social a:hover svg {
	fill: #1876f2
}
.site_sub_header {
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	position: sticky;
	position: -webkit-sticky;
	top: 65px;
	z-index: 999;
	display: none;
	overflow: hidden;
	transition: all .3s
}
body.showing_sub_header .site_sub_header {
	display: block
}
body.showing_sub_header .site_sub_header .site_sub_header_inner {
	opacity: 1
}
.site_sub_header_inner {
	padding: 15px 0;
	opacity: 0;
	transition: all .3s
}
.sub_header_page_title {
	font-size: 20px;
	font-weight: 600;
	display: inline-block;
	vertical-align: middle
}
.sub_header_page_featured_image {
	display: inline-block;
	vertical-align: middle
}
.sub_header_page_featured_image span {
	display: block;
	padding: 18px 30px;
	background-size: cover!important;
	background-position: center!important;
	border-radius: 5px;
	margin-right: 10px
}
.sub_header_share_btns {
	max-height: 30px
}
.sub_header_share_btns a {
	background: #e7f3ff;
	color: #1876f2;
	font-weight: 700;
	text-transform: uppercase;
	padding: 3px 20px 3px 40px;
	display: inline-block;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	position: relative
}
.sub_header_share_btns a:hover {
	background: #1876f2;
	color: #fff
}
.sub_header_share_btns a svg {
	fill: #1876f2;
	position: absolute;
	top: 5px;
	left: 12px;
	width: 18px;
	height: auto;
	transition: all .3s
}
.sub_header_share_btns a:hover svg {
	fill: #fff
}
.header_banner {
	background-size: cover!important;
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-image: linear-gradient(to left, #0094ef, #05e1ca)
}
.header_banner_inner {
	text-align: center;
	padding: 180px 0;
	background: rgba(0, 0, 0, .4)
}
.header_banner_inner h2.site_description {
	margin: 0;
	color: #fff;
	font-size: 35px
}
.post-feed {
	padding: 40px 0 0 0
}
.post-feed article.post-card {
	margin: 30px 0;
	overflow: hidden
}
.post-feed article.post-card:last-child {
	margin-bottom: 0
}
.post_card_cover {
	background-size: cover!important;
	background-position: center!important;
	background-image: linear-gradient(to left, #0094ef, #05e1ca)
}
.post_card_content {
	padding: 30px 30px 30px 20px
}
.post_card_meta {
	margin-bottom: 10px
}
.post_card_meta a {
	text-transform: uppercase;
	font-weight: 600
}
.post_card_post_content {
	margin-bottom: 30px
}
.post_card_post_content h2 {
	margin-top: 0;
	font-size: 24px;
	margin-bottom: 10px
}
.post_card_post_content p {
	margin: 0;
	color: #050505
}
.post_card_post_content h2 a {
	color: #050505
}
.post_card_footer_meta {
	text-transform: uppercase;
	color: #65676b;
	font-size: 14px
}
.post_card_footer_meta a {
	font-weight: 600
}
.post_card_footer_meta a.post-card-content-link {
	float: right;
	border-bottom: 1px solid transparent
}
span.post_card_reading_time {
	margin-left: 10px;
	border-left: 1px solid #e6e6e6;
	padding-left: 10px;
}
.post_card_footer_meta a.post-card-content-link:hover {
	border-color: #1876f2
}
.post_card_save_btn {
	opacity: 0;
	margin: 20px 20px;
	transition: all .3s
}
article.post-card:hover .post_card_save_btn {
	opacity: 1
}
.single_post_header {
	background-size: cover!important;
	background-position: center!important;
	background-image: linear-gradient(to left, #0094ef, #05e1ca)
}
.single_post_header_inner {
	padding: 250px 40px 30px 40px;
	background-image: linear-gradient(to bottom, transparent, transparent, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4), rgba(0, 0, 0, .8));
	color: #fff;
	position: relative
}
article.card.post-full {
	overflow: hidden;
	margin-top: 30px
}
.single_post_header_meta_tags {
	position: absolute;
	top: 30px;
	left: 40px
}
.single_post_header_meta_tags a {
	text-transform: uppercase;
	color: #1876f2;
	background: rgba(231, 243, 255, .8);
	margin-right: 10px;
	padding: 0 10px;
	font-size: 12px;
	border-radius: 75px;
	font-weight: 600;
	display: inline-block
}
.single_post_header_meta {
	margin-bottom: 5px
}
.single_post_header_title h1 {
	margin: 0;
	font-size: 3.5rem;
	font-weight: 700
}
.single_post_header_meta span.post-card-byline-date {
	margin: 0;
	border: 0;
	padding: 0;
	text-transform: uppercase
}
.single_post_header_meta span.bull {
	margin: 0 5px
}
.single_post_header_meta_tags a:hover {
	background: #1876f2;
	color: #fff
}
.single_post_content {
	padding: 30px 40px
}
.post-content {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	line-height: 30px;
	color: #435060
}
.post-content a {
	color: #435060;
	border-bottom: 1px solid #435060
}
.post-full-content code {
	padding: 0 5px 2px;
	font-size: .8em;
	line-height: 1em;
	font-weight: 400!important;
	background: var(--whitegrey);
	border-radius: 3px
}
.post-full-content p code {
	word-break: break-all
}
.post-full-content pre {
	overflow-x: auto;
	margin: 1.5em 0 3em;
	padding: 20px;
	max-width: 100%;
	border: var(--darkgrey) 1px solid;
	color: var(--whitegrey);
	font-size: 1.4rem;
	line-height: 1.5em;
	background: var(--darkgrey);
	border-radius: 5px
}
.post-full-content pre::selection {
	color: var(--midgrey)
}
.post-full-content pre code {
	padding: 0;
	font-size: inherit;
	line-height: inherit;
	background: 0 0
}
.post-full-content pre code:not(span) {
	color: inherit
}
.post-full-content .fluid-width-video-wrapper {
	margin: 1.5em 0 3em
}
.post-full-content hr {
	margin: 2em 0
}
.post-full-content hr:after {
	content: "";
	position: absolute;
	top: -15px;
	left: 50%;
	display: block;
	margin-left: -10px;
	width: 1px;
	height: 30px;
	background: var(--lightgrey);
	box-shadow: #fff 0 0 0 5px;
	transform: rotate(45deg)
}
.post-full-content hr+p {
	margin-top: 1.2em
}
.post-full-content h1,
.post-full-content h2,
.post-full-content h3,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6 {
	color: var(--darkgrey)
}
.post-full-content h1 {
	margin: .5em 0 .4em;
	font-size: 4.2rem;
	line-height: 1.25em;
	font-weight: 600
}
.post-full-content p+h1 {
	margin-top: .8em
}
@media (max-width: 800px) {
	.post-full-content h1 {
		font-size: 3.2rem;
		line-height: 1.25em
	}
}
.post-full-content h2 {
	margin: .5em 0 .4em;
	font-size: 2.7rem;
	line-height: 1.25em;
	font-weight: 600
}
.post-full-content p+h2 {
	margin-top: .8em
}
@media (max-width: 800px) {
	.post-full-content h2 {
		margin-bottom: .3em;
		font-size: 2.8rem;
		line-height: 1.25em
	}
}
.post-full-content h3 {
	margin: .5em 0 .2em;
	font-size: 2.5rem;
	line-height: 1.3em;
	font-weight: 600
}
.post-full-content h2+h3 {
	margin-top: .7em
}
@media (max-width: 800px) {
	.post-full-content h3 {
		margin-bottom: .3em;
		font-size: 2.4rem;
		line-height: 1.3em
	}
}
.post-full-content h4 {
	margin: .5em 0 .2em;
	font-size: 2.5rem;
	font-weight: 600
}
.post-full-content h2+h4 {
	margin-top: .7em
}
.post-full-content h3+h4 {
	margin-top: 0
}
@media (max-width: 800px) {
	.post-full-content h4 {
		margin-bottom: .3em;
		font-size: 2.4rem;
		line-height: 1.3em
	}
}
.post-full-content h5 {
	display: block;
	margin: .5em 0;
	padding: .4em 1em .9em;
	border: 0;
	color: var(--blue);
	font-size: 3.2rem;
	line-height: 1.35em;
	text-align: center
}
@media (min-width: 1180px) {
	.post-full-content h5 {
		max-width: 1060px;
		width: 100vw
	}
}
@media (max-width: 800px) {
	.post-full-content h5 {
		margin-bottom: 1em;
		margin-left: 1.3em;
		padding: 0 0 .5em;
		font-size: 2.4rem;
		text-align: initial
	}
}
.post-full-content h6 {
	margin: .5em 0 .2em 0;
	font-size: 2rem;
	font-weight: 700
}
@media (max-width: 800px) {
	.post-full-content h6 {
		font-size: 1.8rem;
		line-height: 1.4em
	}
}
.post-full-content table {
	display: inline-block;
	overflow-x: auto;
	margin: .5em 0 2.5em;
	max-width: 100%;
	width: auto;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 1.6rem;
	white-space: nowrap;
	vertical-align: top
}
.post-full-content table {
	-webkit-overflow-scrolling: touch;
	background: radial-gradient(ellipse at left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 75%) 100% center;
	background-attachment: scroll, scroll;
	background-size: 10px 100%, 10px 100%;
	background-repeat: no-repeat
}
.post-full-content table td:first-child {
	background-image: linear-gradient(to right, #fff 50%, rgba(255, 255, 255, 0) 100%);
	background-size: 20px 100%;
	background-repeat: no-repeat
}
.post-full-content table td:last-child {
	background-image: linear-gradient(to left, #fff 50%, rgba(255, 255, 255, 0) 100%);
	background-position: 100% 0;
	background-size: 20px 100%;
	background-repeat: no-repeat
}
.post-full-content table th {
	color: var(--darkgrey);
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: .2px;
	text-align: left;
	text-transform: uppercase;
	background-color: var(--whitegrey)
}
.post-full-content table td,
.post-full-content table th {
	padding: 6px 12px;
	border: var(--whitegrey) 1px solid
}
.post-full-content .kg-image {
	margin: 0 auto;
	max-width: 100%
}
.post-full-image+.post-full-content .kg-content:first-child .kg-image {
	width: 100%
}
.post-full-content .kg-width-wide .kg-image {
	max-width: 100%
}
.post-full-content .kg-width-full .kg-image {
	max-width: 100%
}
.post-full-content figure {
	margin: .8em 0 2.3em
}
.post-full-content h1+figure,
.post-full-content h2+figure,
.post-full-content h3+figure,
.post-full-content h4+figure {
	margin-top: 2em
}
.post-full-content figure img {
	margin: 0
}
.post-full-content figcaption {
	margin: 1em auto 0;
	color: var(--midgrey);
	font-size: 75%;
	line-height: 1.5em;
	text-align: center;
	max-width: 1040px
}
.kg-width-full figcaption {
	padding: 0 1.5em
}
.kg-embed-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .09)
}
.kg-embed-card .fluid-width-video-wrapper {
	margin: 0
}
@media (max-width: 1040px) {
	.post-full-content .kg-width-full .kg-image {
		width: 100vw
	}
}
.kg-gallery-container {
	display: flex;
	flex-direction: column;
	max-width: 1040px;
	width: 100vw
}
.kg-gallery-row {
	display: flex;
	flex-direction: row;
	justify-content: center
}
.kg-gallery-image img {
	display: block;
	margin: 0;
	width: 100%;
	height: 100%
}
.kg-gallery-row:not(:first-of-type) {
	margin: .75em 0 0 0
}
.kg-gallery-image:not(:first-of-type) {
	margin: 0 0 0 .75em
}
.kg-gallery-card+.kg-gallery-card,
.kg-gallery-card+.kg-image-card.kg-width-wide,
.kg-image-card.kg-width-wide+.kg-gallery-card,
.kg-image-card.kg-width-wide+.kg-image-card.kg-width-wide {
	margin: -2.25em 0 3em
}
.kg-code-card {
	width: 100%
}
.kg-code-card pre {
	margin: 0
}
.kg-bookmark-card {
	width: 100%
}
.kg-card+.kg-bookmark-card {
	margin-top: 0
}
.post-full-content .kg-bookmark-container {
	display: flex;
	min-height: 148px;
	color: var(--darkgrey);
	text-decoration: none;
	border-radius: 3px;
	box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .09);
	border: 0
}
.post-full-content .kg-bookmark-container:hover {
	color: var(--darkgrey);
	text-decoration: none;
	box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .09)
}
.kg-bookmark-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 20px
}
.kg-bookmark-title {
	color: var(--midgrey);
	font-size: 1.6rem;
	line-height: 1.5em;
	font-weight: 600;
	transition: color .2s ease-in-out
}
.post-full-content .kg-bookmark-container:hover .kg-bookmark-title {
	color: var(--blue)
}
.kg-bookmark-description {
	display: -webkit-box;
	overflow-y: hidden;
	margin-top: 12px;
	max-height: 48px;
	color: var(--midgrey);
	font-size: 1.5rem;
	line-height: 1.5em;
	font-weight: 400;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}
.kg-bookmark-thumbnail {
	position: relative;
	min-width: 33%;
	max-height: 100%
}
.kg-bookmark-thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0 3px 3px 0;
	object-fit: cover
}
.kg-bookmark-metadata {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 14px;
	color: var(--midgrey);
	font-size: 1.5rem;
	font-weight: 400
}
.post-full-content .kg-bookmark-icon {
	margin-right: 8px;
	width: 22px;
	height: 22px
}
.kg-bookmark-author {
	line-height: 1.5em
}
.kg-bookmark-author:after {
	content: "•";
	margin: 0 6px
}
.kg-bookmark-publisher {
	overflow: hidden;
	max-width: 240px;
	line-height: 1.5em;
	text-overflow: ellipsis;
	white-space: nowrap
}
@media (max-width: 800px) {
	.post-full-content figure {
		margin: .2em 0 1.3em
	}
	.post-full-content h1+figure,
	.post-full-content h2+figure,
	.post-full-content h3+figure,
	.post-full-content h4+figure {
		margin-top: .9em
	}
}
@media (max-width: 500px) {
	.post-full-content .kg-width-full,
	.post-full-content .kg-width-wide {
		margin-right: -5vw;
		margin-left: -5vw
	}
	.post-full-content figcaption {
		margin-bottom: .4em
	}
	.post-full-content .kg-bookmark-container {
		flex-direction: column
	}
	.kg-bookmark-description,
	.kg-bookmark-metadata,
	.kg-bookmark-title {
		font-size: 1.4rem;
		line-height: 1.5em
	}
	.post-full-content .kg-bookmark-icon {
		width: 18px;
		height: 18px
	}
	.kg-bookmark-thumbnail {
		order: 1;
		min-height: 160px;
		width: 100%
	}
	.kg-bookmark-thumbnail img {
		border-radius: 3px 3px 0 0
	}
	.kg-bookmark-content {
		order: 2
	}
}
.post-full-content p:last-child {
	margin-bottom: 0
}
.tag_list_page {
	padding: 70px 0 0 0
}
.tag_list_item.card {
	margin: 10px 10px;
	overflow: hidden
}
.tag_list_item_details {
	position: relative;
	padding: 30px 20px
}
.tag_list_item_details h2 {
	margin: 0;
	color: #606163;
	font-size: 22px;
	transition: all .3s;
	text-transform: uppercase;
	font-weight: 700
}
.tag_list_item_details h5 {
	margin: 0;
	position: absolute;
	bottom: 5px;
	right: 7px;
	color: #bdbdbd;
	font-size: 12px;
	text-transform: uppercase
}
.tag_list_item_img {
	background-size: cover!important;
	background-position: center!important;
	background-image: linear-gradient(to left, #0094ef, #05e1ca)
}
.tag_list_item:hover .tag_list_item_details h2 {
	color: #1877f2
}
footer.site_footer {
	padding: 40px 0;
	text-transform: uppercase;
	font-size: 14px
}
.footer_links ul {
	list-style: none;
	margin: 0;
	padding: 0
}
.footer_links ul li {
	display: inline-block;
	margin: 0;
	padding: 0
}
.footer_links ul li a {
	color: #050505;
	margin-left: 15px
}
.single_post_comments {
	padding: 30px 40px;
	border-top: 1px solid #e9ebee
}
.single_post_comments iframe {
	width: 100% !important;
}
.single_post_header.single_page_header .single_post_header_inner {
	padding: 100px 40px;
	text-align: center;
	background: rgba(0, 0, 0, .7)
}
@media all and (max-width: 1023px) and (min-width: 768px) {
	.header_navigation {
		display: none
	}
	.header_links {
		display: none
    }
    header#site_header {
        padding: 15px 0px;
	}
	.header_banner_inner {
		padding: 140px 0
    }
    .post_card_post_content p {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        max-height: 51px;
    }
}
@media all and (max-width: 767px) {
    header#site_header {
        padding: 15px 20px;
	}
	.header_navigation {
		display: none
	}
	.header_links {
		display: none
	}
	
	.header_banner_inner {
		padding: 60px 0;
		background: rgba(0, 0, 0, .6)
	}
	.post-feed {
		padding: 0 15px;
	}
	.post-feed article.post-card {
        border-radius: 5px;
        margin: 20px 0;
	}
	.post_card_cover {
		width: 100%;
		padding: 100px 0
    }
    .post_card_content {
        padding: 20px 30px 20px 20px;
    }
	.post_card_post_content h2 {
		font-size: 18px
	}
	.post_card_meta a {
		font-size: 14px
	}
	.post_card_meta {
		margin-bottom: 5px
	}
	.post_card_footer_meta {
		font-size: 13px
	}
	footer.site_footer {
		text-align: center
	}
	footer.site_footer .col-sm-6 {
		width: 100%
	}
	.site_sub_header {
		display: none!important
	}
	article.card.post-full {
		margin-top: 0;
		border-radius: 0
	}
	.single_post_header_inner {
		padding: 140px 15px 20px 15px
	}
	.single_post_header_meta_tags {
		display: none
	}
	.single_post_header_title h1 {
		font-size: 24px
	}
	.single_post_header_meta {
		font-size: 14px;
		margin-bottom: 3px
	}
	.single_post_content {
		padding: 20px 15px
	}
	.post-full-content h2 {
		font-size: 22px
	}
	.single_post_comments {
		padding: 20px 15px
	}
}